<div class="py-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <!-- form card login -->
      <div class="card rounded-0">
        <div class="card-header">
          <h3 class="mb-0">Register</h3>
        </div>
        <div class="card-body">
          <form class="form" novalidate #rForm="ngForm">
            <div class="form-group">
              <label for="uname1">Name</label>
              <input [(ngModel)]="registerUserData.name" #name="ngModel" name="name" minlength="3" type="text"
                class="form-control rounded-0 " required [ngClass]="{

                    'is-invalid': name.invalid && ( name.dirty || name.touched ),
                    'is-valid': name.valid && ( name.dirty || name.touched )

                  }">
              <div class="invalid-feedback" *ngIf="name.invalid && (name.dirty || name.touched)">
                <p *ngIf="name.invalid"> Name is required loger than 2 characters</p>

              </div>
            </div>
            <div class="form-group">
              <label for="uname1">Surname</label>
              <input [(ngModel)]="registerUserData.surname" #surname="ngModel" name="surname" minlength="3" type="text"
                class="form-control rounded-0" required [ngClass]="{

                    'is-invalid': surname.invalid &&  (surname.dirty||surname.touched),
                    'is-valid': surname.valid && ( surname.dirty || surname.touched )

                  }">
              <div class="invalid-feedback" *ngIf="surname.invalid && (surname.dirty||surname.touched)">
                <p *ngIf="surname.invalid"> Surname is required longer than 2 charachters</p>

              </div>
            </div>
            <div class="form-group">
              <label for="uname1">BirthDate</label>
              <input [(ngModel)]="registerUserData.birthDate" #birthDate="ngModel" name="birthDate" type="date"
                class="form-control rounded-0" required [ngClass]="{
                    'is-invalid': birthDate.invalid && birthDate.touched,
                    'is-valid': birthDate.valid && ( birthDate.dirty || birthDate.touched )
                  }">
              <div class="invalid-feedback" *ngIf="birthDate.invalid && (birthDate.dirty&&birthDate.touched)">
                <p *ngIf="birthDate.invalid"> Birthdate is required</p>

              </div>
            </div>
            <div class="form-group">
              <label for="uname1">Email</label>
              <input [(ngModel)]="registerUserData.email" #email="ngModel" name="email" type="email"
                pattern="[^ @]*@[^ @]*.[^ .]" class="form-control rounded-0" required [ngClass]="{

                'is-invalid': email.invalid && ( email.dirty || email.touched ),
                'is-valid': email.valid && ( email.dirty || email.touched )

              }">
              <div class="invalid-feedback" *ngIf="email.invalid && email.touched">
                <p>Email is required</p>
                <p *ngIf="email.errors.pattern">Email must contaion a @ and .(dot)</p>
              </div>
            </div>
            <div ngModelGroup="passwordGroup"
            [class.has-error]="confirmPassword.touched&&confirmPassword.invalid&&!confirmPassword.required">
            <div class="form-group">
              <label>Password</label>
              <input 
              (input)="confirmPassword.control.updateValueAndValidity()"
              [(ngModel)]="registerUserData.password" #password="ngModel" name="password" minlength="8"
                type="password" class="form-control rounded-0" required [ngClass]="{

                'is-invalid': password.invalid && ( password.dirty || password.touched ),
                'is-valid': password.valid && ( password.dirty || password.touched )

              }">
              <div class="invalid-feedback" *ngIf="password.invalid && (password.dirty&&password.touched)">
                <p *ngIf="password.invalid"> Password is required and must contaion at least 8 character</p>

              </div>
            </div>
            <div class="form-group" >
              <label>Confirm Password</label>
              <input [(ngModel)]="registerUserData.confirmPassword" #confirmPassword="ngModel" name="confirmPassword"
                minlength="8" type="password" class="form-control rounded-0" required
                appConfirmEqualValidator="password" [ngClass]="{

                'is-invalid': confirmPassword.invalid && ( confirmPassword.dirty || confirmPassword.touched ),
                'is-valid': confirmPassword.valid && ( confirmPassword.dirty || confirmPassword.touched )

              }">
              <div class="invalid-feedback"
                *ngIf="confirmPassword.errors?.notEqual && (confirmPassword.dirty&&confirmPassword.touched)">
                <p> Password and Confirm Password doesn't match</p>

              </div>
            </div>
          </div>
            <button (click)="registerUser()" [disabled]="rForm.invalid" type="button"
              class="btn btn-primary float-right">Register</button>
          </form>
        </div>
        <!--/card-block-->
      </div>
      <!-- /form card login -->

    </div>


  </div>
</div>