<div class="center">
    <mat-card>
        <mat-grid-list cols="4" rowHeight="110px">
            <mat-grid-tile  rowspan="4">
                <div  class="item">
                <img [src]="book.urlImg">
                <p class="caption  "><b>Price {{book.price |  currency:'$'}}</b></p>
            </div>
            </mat-grid-tile>
            <mat-card-header>
                <mat-grid-tile colspan="3">
                    <mat-card-title class="title">{{book.title}}</mat-card-title>

                    <mat-card-subtitle>
                        <p class="sub-margin" *ngFor="let author of book.authors; let i = index">
                            {{book.authors[i].author}}</p>
                    </mat-card-subtitle>

                </mat-grid-tile>
            </mat-card-header>
            <mat-card-content class="mat-subheading-2">
                <mat-grid-tile colspan="3" rowspan="4">
                    <div class="content">
                    <p class="description">{{book.description}}</p>
                    <button class="addCart" mat-raised-button color="warn" 
                    (click)="addCart(book)"> Add to Cart</button>
          </div>
                </mat-grid-tile>
            </mat-card-content>
        </mat-grid-list>
    </mat-card>

</div>