<!--<div class="row mt-5" [@divsAnimation]='book.length'>
  <div class="col-md-4 mb-3" >
    <div class="card text-center" style="min-height: 300px">
      <div class="card-body">
        <h5 class="card-title">{{book[0].title}}</h5>
        <p class="card-text">{{book[0].authors.toString()}}</p>
        <p class="card-text">{{book[0].genres.toString()}}</p>
        <a href="#" class="btn btn-primary" (click)="book.hide=false" *ngIf="book.hide" style="margin-right: 5px">Show
          Details</a>


        <p class="card-text" *ngIf="!book.hide">{{book[0].description}}</p>
        <a href="#" class="btn btn-primary">Buy Book</a>
      </div>
      <div class="card-footer text-muted">

        {{book[0].price  | currency:'$'}}
      </div>
    </div>
  </div>
</div>-->