<mat-dialog-content>
  <form #bookForm="ngForm" class="normal-form">
    <mat-grid-list cols="2" rowHeight="500px">
      <mat-grid-tile>
        <div class="controles-container">

          <mat-form-field>
            <input type="text" [(ngModel)]="registerBookData.title" matInput placeholder="Title" #title="ngModel"
              name="title" required minlength="5">
            <mat-error *ngIf="title.invalid && (title.dirty||title.touched)">
              Required and minimum 5 characters needed.</mat-error>
          </mat-form-field>





          <mat-form-field>
            <textarea required minlength="50" [(ngModel)]="registerBookData.description" matInput
              placeholder="Description" name="description" #description="ngModel" rows="3" required minlength="50"
              [ngClass]="{
  
                              'is-invalid': description.invalid && ( description.dirty || description.touched ),
                              'is-valid': description.valid && ( description.dirty || description.touched )
              
                            }"></textarea>
            <mat-error *ngIf="description.invalid && (description.dirty&&description.touched)">Required and
              minimum 50 characters.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <input [(ngModel)]="registerBookData.price" type="number" #price="ngModel" required matInput min="0.1"
              placeholder="Price" name="price" [ngClass]="{
  
                                        'is-invalid': price.invalid && ( price.dirty || price.touched ),
                                        'is-valid': price.valid && ( price.dirty || price.touched )
                        
                                      }">
            <mat-error>Price is required.</mat-error>
          </mat-form-field>
          <div class="add-bottom-padding">
            <mat-label>Hide Book?</mat-label><br>
            <mat-radio-group type="radio">
              <mat-radio-button (click)="setHide(true)" value="true">Hide
              </mat-radio-button>
              <mat-radio-button (click)="setHide(false)" value="false" style="margin-left: 10px">
                Dont Hide</mat-radio-button>
            </mat-radio-group>
          </div>

          <mat-form-field>
            <input required class="add-bottom-padding add-bottom-marging" [(ngModel)]="registerBookData.urlImg"
              name="urlImg" #urlImg="ngModel" type="text" matInput required minlength="5" placeholder="URL Image">
            <mat-error>Url reference is required
            </mat-error>
          </mat-form-field>


        </div>
      </mat-grid-tile>

      <mat-grid-tile>
        <div class="controles-container">

          <mat-form-field>
            <input [(ngModel)]="author" matInput placeholder="Author" #Author="ngModel" name="author" type="text"
              minlength="5" [required]="registerBookData.authors.length<1">
            <div class="invalid-feedback" *ngIf="Author.invalid && (Author.dirty||Author.touched)">
              <mat-error></mat-error>
            </div>
            <div class="invalid-feedback" *ngIf="Author.valid && (registerBookData.authors.length<1) && Author.touched">
              Click the button "Add Author" to insert author
            </div>




          </mat-form-field>
          <button color="accent" mat-raised-button [disabled]="Author.invalid" (click)="addAuthor()" type="button"
            style="margin-top: 2px" class="btn btn-primary float-right">
            <mat-icon>person_add</mat-icon>
          </button>


          <mat-list *ngFor="let author of registerBookData.authors;let i = index; ">
            <mat-list-item class="mdc-list-item" role="option" aria-selected="true">
              <mat-icon class="green-icon">person</mat-icon> {{registerBookData.authors[i].author}}
            </mat-list-item>
          </mat-list>
          <mat-form-field>
            <mat-select required [(ngModel)]="genre" placeholder="Book Genre" #Genre="ngModel" [ngClass]="{
          
                                    'is-invalid': (Genre.invalid && Genre.dirty) || ( (registerBookData.genres.length<1) && Genre.touched  ),
                                    'is-valid': Genre.valid && ( Genre.dirty || Genre.touched )
                    
                                  }" [required]="registerBookData.genres.length<1" name="genre">
              <mat-option [value]="null"> Select Genre </mat-option>
              <mat-option *ngFor="let genre of genresData" [value]="genre.name">{{genre.name}}</mat-option>
            </mat-select>

            <div class="invalid-feedback" *ngIf="Genre.invalid && (Genre.dirty||Genre.touched)">
              Genre is required
            </div>
            <div class="invalid-feedback" *ngIf="Genre.valid && (registerBookData.genres.length<1) && Genre.touched">
              Click the button "Add Genre" to insert genre
            </div>

          </mat-form-field>
          <button mat-raised-button [disabled]="Genre.invalid" (click)="addGenre()" color="accent" type="button"
            style="margin-top: 2px" class="btn btn-primary float-right">
            <mat-icon>save_alt</mat-icon>
          </button>


          <mat-list *ngFor="let genre of registerBookData.genres;
                  let i = index;">

            <mat-list-item class="genre">
              <mat-icon class="green-icon toggle">toggle_on</mat-icon>
              {{registerBookData.genres[i]}}
            </mat-list-item>
          </mat-list>


          <div class="button-row">
            <button mat-raised-button color="primary" type="submit"
              [disabled]="bookForm.invalid||(registerBookData.authors.length===0)||(registerBookData.genres.length===0)"
              (click)="registerBook()">Submit</button>
            <button mat-raised-button color="warn" (click)="onReset()">Reset</button>
            <button mat-raised-button color="warn" (click)="onClose()">Close</button>
          </div>


        </div>
      </mat-grid-tile>

    </mat-grid-list>
  </form>
</mat-dialog-content>